@media (min-width: 0em) {

    // All sections will have an id
    #landing {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $padding-md;
        background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(/assets/img01.jpeg) center / cover;

        .container {
            width: 100%;
            max-width: 600px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;

            h1 {
                margin-bottom: .5rem;
                font-size: $font-size-base * 2;
            }

            p {
                text-align: center;
                margin-bottom: 1rem;
                line-height: 1.5;
            }

            .btns {
                display: flex;
                flex-direction: column;
                width: 100%;

                .cta {
                    text-decoration: none;
                    color: white;
                    padding: .6rem;
                    border-radius: 2rem;
                    background-color: orangered;
                    width: 100%;
                    text-align: center;
                }

                .cta-1 {
                    margin-bottom: .5rem;
                    background-color: transparent;
                    border: 2px solid orangered;

                    &:hover {
                        background-color: orangered;
                    }
                }
            }
        }
    }

}

@media (min-width: 768px) {
    #landing {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $padding-md;
        background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(/assets/img01.jpeg) center / cover;

        .container {
            width: 100%;
            max-width: 600px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;

            h1 {
                margin-bottom: .5rem;
                font-size: $font-size-base * 2;
            }

            p {
                text-align: center;
                margin-bottom: 1rem;
                line-height: 1.5;
            }

            .btns {
                display: flex;
                flex-direction: row;
                width: 100%;

                .cta {
                    text-decoration: none;
                    color: white;
                    padding: .6rem;
                    border-radius: 2rem;
                    background-color: orangered;
                    width: 100%;
                    text-align: center;
                }

                .cta-1 {
                    margin-right: .5rem;
                    margin-bottom: unset;
                    background-color: transparent;
                    border: 2px solid orangered;

                    &:hover {
                        background-color: orangered;
                    }
                }
            }
        }
    }
}

/* Variables */